<% include header %>
<form action="/login" method="post" accept-charset="utf-8">
	<label>用户名:<input type="text" name="username" value=""></label>
	<br>
	<label>密码：<input type="text" name="password" value=""></label>
	<br>
	<input type="submit" name="" value="登录">
</form>
<% include footer %>