<% include header %>
<form action="/reg" method="post" accept-charset="utf-8">
    <label>用户名:<input type="text" name="username" value=""></label>
    <br>
    <label>密码:<input type="password" name="password" value=""></label>
    <br>
    <label>重复密码:<input type="password" name="password-repeate" value=""></label>
    <br>
    <label>邮箱:<input type="email" name="email" value=""></label>
    <br>
    <input type="submit" name="" value="注册">
</form>
<% include footer %>