*{margin: 0;padding: 0}
.clear:after{
	content: "";
	display: block;
	clear: both;
	overflow: hidden;
	height: 0;
}
.clear{ -ms-zoom:1; }
li{list-style: none;}
a{ text-decoration: none; }


body {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
}

nav{
	float: left;
	width: 100px;
	margin-left: -100px;
	text-align: center;
}

nav>ul>li{
	line-height: 40px;
}

nav>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
}

nav>ul>li:hover{
	background-color: darkred;
}


